<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeboardComment">

	<select id="countFreeboardCommentNum" resultType="int">
		select count(*) from
		tbl_freeboard
	</select>

	<!--<select id="bringFreeboardCommentList" parameterType="int"
		resultType="QnaCommentVO">
		select q.freeboard_num, q.freeboard_num, u.user_num, q.comment_content, u.user_nickname
		from tbl_qnacomment q join tbl_user u  
		on q.user_num = u.user_num
		order by qna_num desc
		limit #{firstList}, 6
	</select> -->
	
	
	<insert id="commentWrite" parameterType="QnaCommentDTO">
		insert into tbl_freeboard (freeboard_num, user_num, comment_content) 
		values(#{freeboardNum},#{userNum},#{commentContent})
	</insert>
	
	<delete id="deleteReview" parameterType="int">
		delete from tbl_freeboard where comment_num = #{reviewNum}
	</delete>
	
</mapper>