<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mate">
   <select id = "write" parameterType="MateDTO">
   		insert into tbl_mate(user_num, mate_courtname, mate_courtaddr, mate_date, mate_starttime,
   		mate_endtime, mate_exp, mate_ntrp, mate_gametype, mate_mcount, mate_wcount, mate_content, mate_writedate)
   		value(#{userNum}, #{mateCourtname}, #{mateCourtaddr}, #{mateDate}, #{mateStarttime},
   		#{mateEndtime}, #{mateExp}, #{mateNtrp}, #{mateGametype}, #{mateMcount}, #{mateWcount},
   		#{mateContent}, #{mateWritedate})
   </select>
   
   <update id="update" parameterType="MateDTO">
   		UPDATE tbl_mate
		SET mate_courtname = #{mateCourtname},
		    mate_courtaddr = #{mateCourtaddr},
		    mate_date = #{mateDate},
		    mate_starttime = #{mateStarttime},
		    mate_endtime = #{mateEndtime},
		    mate_exp = #{mateExp},
		    mate_ntrp = #{mateNtrp},
		    mate_gametype = #{mateGametype},
		    mate_mcount = #{mateMcount},
		    mate_wcount = #{mateWcount},
		    mate_content = #{mateContent},
		    mate_writedate = #{mateWritedate}
		WHERE mate_num = #{mateNum}
   </update>
   
   <delete id="delete" parameterType="int">
   		delete from tbl_mate 
   		where mate_num = #{mateNum}
   </delete>
   
   <select id = "selectOne" parameterType="MateDTO" resultType="MateDTO">
   		select from tbl_mate
   		where mate_num = #{mateNum}
   </select>
   
   <select id = "selectAll" parameterType="MateDTO" resultType="MateDTO">
   		select * from tbl_mate
   </select>
   
</mapper>